.WorkflowBlock {
  cursor: move;

  &__background {
    fill: #666;
    stroke: #333;
    stroke-width: 1;
  }

  &__text {
    fill: #333;
    user-select: none;
  }

  &--selected {
    .WorkflowBlock__background {
      stroke: #000;
      stroke-width: 4;
    }
  }

  &--dragging {
    z-index: 1;
    .WorkflowBlock__background {
      fill-opacity: 0.8;
      stroke-opacity: 0.8;
    }

    .WorkflowBlock__text {
      fill-opacity: 0.8;
    }
  }

  &--invalid {
    .WorkflowBlock__background {
      fill: #B80;
      stroke: #E00;
    }

    .WorkflowBlock__text {
      fill: #E00;
    }
  }
}