.WorkflowBlock {
  cursor: move;

  &__background {
    fill: #EAEAEA;
    stroke: #333;
    stroke-width: 1;
  }

  &__text {
    fill: #333;
    user-select: none;
  }

  &--highlighted {
    .WorkflowBlock__background {
      stroke: #ffb900;
      stroke-width: 4;
    }
  }

  &--dragging {
    .WorkflowBlock__background {
      fill-opacity: 0.6;
      stroke-opacity: 0.6;
    }

    .WorkflowBlock__text {
      fill-opacity: 0.8;
    }
  }

  &--invalid {
    .WorkflowBlock__background {
      fill: #B80;
      stroke: #E00;
    }
  }
}