html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}


#root {
  height: 150%;
  width: 150%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.test-workflow {
  height: 600px;
  width: 1000px;
  box-sizing: border-box;
  padding: 8px 16px 6px 8px;
  border: 1px solid #ccc;
}

.test-workspace {
}
