.WorkflowNode {
    cursor: move;
}

.WorkflowNode__background {
    fill: #666;
    stroke: #333;
    stroke-width: 1;
}

.WorkflowNode--selected .WorkflowNode__background {
    stroke: #000;
    stroke-width: 4;
}

.WorkflowNode__text {
    user-select: none;
}